{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./config/tailwind.config.js",
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "overrides": [
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "printWidth": 100
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "printWidth": 100,
        "proseWrap": "preserve"
      }
    }
  ]
}
